# IntelliJ products
/.idea/

# Ignoring files according to https://microchipdeveloper.com/mplabx:version-control-working-with
/firmware/iotc-wfi32-aws-demo.X/.generated_files/
/firmware/iotc-wfi32-aws-demo.X/build/
/firmware/iotc-wfi32-aws-demo.X/dist/
/firmware/iotc-wfi32-aws-demo.X/nbproject/Makefile-*
/firmware/iotc-wfi32-aws-demo.X/nbproject/Package-*
/firmware/iotc-wfi32-aws-demo.X/nbproject/private/